html {
  overflow-x: hidden;
  font-size: 1.25em;
}

body {
  position: relative;
  background: #ffff;
  color: #8b8e94;
  line-height: 1.7;
  font-size: 18px;
  font-family: "Alice", serif;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}

/* LOADER */

.loader-container{
  width: 100%;
  height: 1000vh;
  position: absolute;
  background: #fc6d6d;
  padding: 0%;
  margin: 0%;
  z-index: 2001;
}

.yin-yang {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -5rem 0 0 -5rem;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, #fff 0%, #fff 50%, #000 50%, #000 100%);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.yin-yang:before,
.yin-yang:after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50%;
  width: 50%;
  border-radius: 50%;
}
.yin-yang:before {
  left: 0;
  background: #FFF;
  border: 2rem solid #000;
}
.yin-yang:after {
  right: 0;
  background: #000;
  border: 2rem solid #fff;
}

/* NAVBAR */

.navbar {
  background: #444;
  -o-transition: all .6s;
  -moz-transition: all .6s;
  -webkit-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
  backface-visibility: hidden;
}

.navbar.navbar-no-bg {
  background: #444;
  background: rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-nav {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #fff;
  outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-brand {
  width: 105px;
  border: 0;
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }
  
.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
  
.animated-icon span {
  background: #fff;
}
  
.animated-icon span:nth-child(1) {
  top: 0px;
}
  
.animated-icon span:nth-child(2) {
  top: 10px;
}
  
.animated-icon span:nth-child(3){
  top: 10px;
}

.animated-icon span:nth-child(4) {
  top: 20px;
}
  
.animated-icon.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}
  
.animated-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
  
.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
  
.animated-icon.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* HOME */

.home-container{
  padding-top: 15vh;
}

.home-section{
  background: #ffff url("../images/home-background.jpg") center;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.home-section h1{
  font-size: 5.5rem;
  font-family: "Alice", serif;
  text-transform: uppercase;
  font-weight: bold;
}

.home-section h2{
  font-size: 4rem;
  font-family: "Alice", serif;
}

/* TOP BUTTON */

.topButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  color:#fff; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.topButton:hover {
  color: rgb(0, 0, 0);; /* Add a dark-grey background on hover */
} 

/* SCROLL BUTTON  */

.scrolldown-btn a {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  font : normal 20px/1 "Alice", serif;
  letter-spacing: .001em;
  text-decoration: none;
  transition: opacity .3s;
  position: absolute;
  bottom: 40px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  padding-top: 60px;
}

.scrolldown-btn a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* COUNTDOWN */

.countdown-section {
  background-image: linear-gradient(#AD2E24,#fc6d6d);
  background-size: cover;
  background-position: center;
  position: relative;
  height: auto;
  overflow: hidden;
}

.countdown-container{
  margin-top: 13vh;
  margin-bottom: 5vh;
}

.circled {
  width: 8.5rem;
  height: 8.5rem;
  border-color: #fff;
  border-style: solid;
  border-width: 4px;
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
}

.heading-row{
  margin-bottom: 2vh;
}

.countdown-section h2{
  color: #fff;
}
.countdown-section h3{
  color: #fff;
  font-size: 1.25rem;
}

.countdown-time{
  font-weight: 900;
  font-family: "Alice", serif;
  font-size: 2.5rem;
  margin-top: 15%;
}

/* WHEN & WHERE */
.when-where-section{
  background: #fc6d6d center;
  padding-top: 11vh;
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
}

.where-header{
  margin-bottom: 2vh;
}

.card{
  width: 30rem;
  margin-bottom: 2vh;
}

.card img{
  height: 45vh;
}

.where-header h2{
  color: #FFF;
}

/* VIAGGIO */
.trip-section{
  background: #E8CBC0;
  background: -webkit-linear-gradient(to right, #E8CBC0, #636FA4);
  background: linear-gradient(to right, #E8CBC0, #636FA4);
  padding-top: 7vh;
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
}

.trip-header h2{
  color: #FFF;
}

.text-gray {
  color: #999;
}

/* TIMELINE */

/* Timeline holder */
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
  content: ' ';
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #fff;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
  content: ' ';
  background: #ddd;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* .timeline-item{
  background: url("http://i.cdn.ensonhaber.com/resimler/diger/ataturk_3473.jpg");
} */

/* MEDIA QUERIES */

@media (min-width: 768px) and (max-width: 991px) {
 
  .navbar-expand-md .navbar-nav .nav-link { 
    padding-left: 0.6rem; 
    padding-right: 0.6rem; 
  }

  .card{
    width: 30rem;
    margin-bottom: 2vh;
  }

  .card img{
    height: 30vh;
  }
}

@media (max-width: 767px) {

  .navbar.navbar-no-bg { 
    background: #444; 
  }
  .navbar-dark .navbar-toggler { 
    border-color: #444; 
  }
  .navbar-dark .navbar-toggler:focus { 
    background: #444; 
    outline: 0; 
  }
  .navbar-expand-md .navbar-nav .nav-link { 
    padding-top: 0.3rem; 
    padding-bottom: 0.3rem; 
  }

  .navbar-collapse ul {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  }
  
  .home-section h1{
    font-size: 2.5rem;
  }

  .home-section h2{
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .when-where-section{
    padding-top: 15vh;
  }
  
  .where-header{
    margin-bottom: 0vh;
  }

  .where-header h2{
    font-size: 1.5rem;
  }

  .card{
    width: 20rem;
    margin-bottom: 2vh;
  }
  .card img{
    height: 35vh;
  }
}

@media (max-width: 338px) {
  .home-section h1{
    font-size: 1.5rem;
  }

  .home-section h2{
    font-size: 1rem;
  }

  .countdown-container{
    margin-top: 15vh;
  }

  .circled {
    width: 7rem;
    height: 7rem;
    border-width: 3px;
  }

  .countdown-time{
      font-size: 2rem;
  }

  .countdown-section h3{
    font-size: 1rem;
  }
}


/* 
.row > div { min-height:100px; border:1px solid red;} */