html {
  overflow-x: hidden;
  font-size: 1.25em;
}

body {
  background: #ffffff;
  color: #8b8e94;
  line-height: 1.7;
  font-size: 18px;
  font-family: "Alice", serif;
}

.wedding-navbar {
  background: transparent;
}

.navbar-inner {
  background:transparent;
}

.wedding-navbar .navbar-brand {
  text-transform: uppercase;
  font-family: "Alice", serif;
  color: #000;
  font-size: 26px;
  font-weight: 700;
}

.nav-link,
.navbar-brand {
  cursor: pointer;
}

.nav-link {
  font-family: "Alice", serif;
  color: #000;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.home-section {
  position: relative;
  background: #b1b881 url("../images/background.jpg") center;
  border: none;
  margin: 0 0 0;
  height: 100vh;
}