html {
  overflow-x: hidden;
  font-size: 1.25em;
}

body {
  position: relative;
  background: #444;
  font-family: 'Forum', cursive;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}

.section-header {
  font-family: 'Mr Dafoe', cursive;
  font-size: 12vh;
}

.my-rounded{
  border-radius: 30px;
}

.my-rounded-pill{
  border-radius: 100px;
}

.intro-div {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 1.5vh;
  background:
  /* top, transparent black, faked with gradient */ 
  linear-gradient(
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)
  ),
  /* bottom, image */ center no-repeat;
  background-size: cover;
}

.default-text {
  font-size: 22px;
  line-height: 30px;
  font-family: 'Forum', cursive;
}

/* LOADER */

.loader-container {
  width: 100%;
  height: 1000vh;
  position: absolute;
  background: #fc6d6d;
  padding: 0%;
  margin: 0%;
  z-index: 2001;
}

.yin-yang {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -5rem 0 0 -5rem;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, #fff 0%, #fff 50%, #000 50%, #000 100%);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}

.loader-text {
  font-size: 30px;
  font-family: 'Forum', cursive;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.yin-yang:before,
.yin-yang:after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 50%;
  width: 50%;
  border-radius: 50%;
}

.yin-yang:before {
  left: 0;
  background: #FFF;
  border: 2rem solid #000;
}

.yin-yang:after {
  right: 0;
  background: #000;
  border: 2rem solid #fff;
}

/* NAVBAR */

.navbar {
  background: #444;
  -o-transition: all .6s;
  -moz-transition: all .6s;
  -webkit-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
  backface-visibility: hidden;
}

.navbar.navbar-no-bg {
  background: #444;
  background: rgba(0, 0, 0, 0.4);
}

.navbar-dark .navbar-nav {
  font-size: 2.5vh;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #fff;
  outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-brand {
  width: 105px;
  border: 0;
  margin-left: 2vw;
}

.navbar-brand a{
  font-family: 'Mr Dafoe', cursive !important;
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
  
.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
  
.animated-icon span {
  background: #fff;
}
  
.animated-icon span:nth-child(1) {
  top: 0px;
}
  
.animated-icon span:nth-child(2) {
  top: 10px;
}
  
.animated-icon span:nth-child(3){
  top: 10px;
}

.animated-icon span:nth-child(4) {
  top: 20px;
}
  
.animated-icon.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}
  
.animated-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
  
.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
  
.animated-icon.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* HOME */

.home-section{
  background: #ffff url("../images/home-background-min.png") center;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.home-container{
  padding-top: 15vh;
}

.home-section h1{
  font-size: 20vh;
  font-family: 'Mr Dafoe', cursive;
}

.home-section h3{
  font-size: 10vh;
  font-family: 'Mr Dafoe', cursive;
}

.home-section h4{
  font-size: 4vh;
  font-family: 'Forum', cursive;
}

/* SCROLL BUTTON  */

.scrolldown-btn a {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: 'Forum', cursive;
  font : normal 18px/1 'Forum', cursive;
  letter-spacing: .001em;
  text-decoration: none;
  transition: opacity .3s;
  position: absolute;
  bottom: 40px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  padding-top: 60px;
}

.scrolldown-btn a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* COUNTDOWN */

.countdown-section {
  background-image: linear-gradient(#AD2E24,#fc6d6d);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding-top: 12vh;
  padding-bottom: 4vh;
  min-height: auto;
}

.countdown-time {
  font-family: 'Forum', cursive;
  font-size: 5vh;
}

.countdown-desc {
  font-family: 'Forum', cursive;
  font-size: 3vh;
}

/* WHEN & WHERE */

.when-where-section {
  background: #fc6d6d center;
  padding-top: 12vh;
  min-height: auto;
}

.where-header {
  margin-bottom: 2vh;
}

.card {
  width: 20rem;
  margin-bottom: 2vh;
}

.where-card img {
  height: 35vh;
}

/* RSVP */

.rsvp {
  background-color: #fc6d6d;
  border-color: #fc6d6d;
  max-width: wrap;
}

.rsvp:hover {
  background-color: #df5252;
  border-color: #df5252;
  color: #fff;
}

.rsvp:focus,
.rsvp:active,
.rsvp.aria-pressed {
  background-color: #df5252;
  border-color: #df5252;
  box-shadow: none;
  color: #fff;
}

.rsvp-body {
  background-color: #444;
  border-color: #444;
  margin-top: 2vh;
}

.rsvp-body:hover {
  background-color: rgb(49, 48, 48);
  border-color: rgb(49, 48, 48);
  color: #fff;
}

.rsvp-body:focus,
.rsvp-body:active,
.rsvp-body.aria-pressed {
  background-color: rgb(49, 48, 48);
  border-color: rgb(49, 48, 48);
  color: #fff;
  box-shadow: none;
}

/* VIAGGIO */
.trip-section {
  background: #fc6d6d;
  padding-top: 12vh;
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
}

/* TIMELINE */

.timeline {
  position: relative;
  padding-top: 4vh;
}

.timeline::before {
  content: '';
  background: #FFF;
  width: 5px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
}

.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  height: 30%;
  background: #f5f5f5;
}

.timeline-content img {
  height: 30vh;
}

.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 25px;
  height: 25px;
  background: #444;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -13px;
}

.timeline-item .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), center center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(even) .timeline-content .timeline-img-header span {
  left: auto;
  right: 0;
}

/* GALLERY */

.gallery-section {
  background: #fc6d6d;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 3vh;
}

.gallery-header h2 {
    padding-top: 10vh;
    padding-bottom: 1vh;
}

.gallery-row {
  margin-left: 2vw;
  margin-right: 2vw;
}

/* FOOTER */

.footer-contacts {
  background-color: #2E2E2E;
  background:
  /* top, transparent black, faked with gradient */ 
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
  ),
  /* bottom, image */ url("../images/coppia-jappo.png") center no-repeat;
  background-size: cover;
  height: 42vh;
  width: 100vw;
  margin-bottom: 0;
}

.link {
  font-family: 'Forum', cursive !important;
}

.link:hover {
  text-decoration: underline;
}

.footer-copyright {
  background-color: #444;
  height: auto;
}

/* MEDIA QUERIES */

/* iPad portrait */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
 
  .navbar-expand-md .navbar-nav .nav-link { 
    font-size: 1.5vh;
  }

  .card {
    width: 30rem;
    margin-bottom: 2vh;
  }

  .where-card img {
    height: 30vh;
  }

  .home-section h1 {
    font-size: 20vw;
  }

  .home-section h3 {
    font-size: 10vw;
  }

  .rsvp{
    padding: 0.5vh;
    font-size: 1.5vh;
  }

}

/* Smartphone portrait */

@media (max-width: 767px) and (orientation: portrait) {

  .default-text {
    font-size: 18px;
    line-height: 21px;
    font-family: 'Forum', cursive;
  }

  .navbar-expand-md .navbar-nav .nav-link { 
    font-size: 3vh;
  }

  .navbar.navbar-no-bg { 
    background: #444; 
  }

  .navbar-dark .navbar-toggler { 
    border-color: #444; 
  }

  .navbar-dark .navbar-toggler:focus { 
    background: #444; 
    outline: 0; 
  }

  .navbar-expand-md .navbar-nav .nav-link { 
    padding-top: 0.3rem; 
    padding-bottom: 0.3rem; 
  }

  .navbar-collapse ul {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  }
  
  .home-section h1 {
    font-size: 20vw;
  }

  .countdown-time {
    font-family: 'Forum', cursive;
    font-size: 4vh;
  }
  
  .countdown-desc {
    font-family: 'Forum', cursive;
    font-size: 2vh;
  }

  .rsvp {
    font-size: 3vh;
  }

  .timeline::before {
    left: 50px;
  }

  .timeline .timeline-img {
    left: 50px;
  }

  .timeline-content img {
    height: 25vh;
  }

  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }

  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }

  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }

  .timeline-item:nth-child(odd) .timeline-content .timeline-date {
    right: auto;
    left: 0;
  }

  .timeline-item:nth-child(odd) .timeline-content .timeline-img-header span {
    left: auto;
    right: 0;
  }
}

/* iphone 5/SE */
@media screen and (max-width: 320px) { 
  
  .trip-header h5{
    font-size: 3vh;
  }
}

 /* .row > div {border:1px solid red;}  */